
<app-header *ngIf="!showPortfolio"></app-header>
<h1 class="dashboard-title">Dashboard</h1>

<app-card>
  <div class="simple-profile-card">
    <div class="profile-header">
      <img
        *ngIf="user()?.profileImage"
        [src]="encodeImageUrl(user()?.profileImage)"
        alt="Profile"
        class="profile-image"
      />
    </div>

    <div class="profile-info">
      <h2 class="name">{{ (user()?.firstName + ' ' + user()?.lastName)?.toUpperCase() }}</h2>
      <p class="dob">DOB: {{ user()?.dob | date: 'MMM d, y' }}</p>
      <p class="email">{{ user()?.email }}</p>
      <p class="phone">{{ user()?.mobile }}</p>

      <button class="portfolio-btn" (click)="openPortfolioModal()">
        View Portfolio
      </button>
    </div>
  </div>
</app-card>

<div
  class="portfolio-modal-overlay"
  *ngIf="showPortfolio"
  (click)="closeOnOverlayClick($event)"
  role="dialog"
  aria-modal="true"
  aria-labelledby="modal-title"
>
  <div class="portfolio-modal">
    <span
      class="modal-close"
      (click)="closePortfolioModal()"
      aria-label="Close modal"
    >
      &times;
    </span>
    <div class="chart-wrapper">
    <app-port-folio></app-port-folio>
</div>

  </div>
</div>

